

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 2%;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-toolbar{
  --background: black;
}

ion-content{
  --background : black;
}

ion-searchbar{
  --background: #a8a8a8;
  --border-radius: 1.2rem;
  --color: white;
  --placeholder-color: white;
  --icon-color: white;
  --clear-button-color: white;
  --placeholder-opacity: 0.75;
  // border-top: 50px;  //styling sebelumnya
  // border-radius: 30px;
  // --box-shadow: none;
  // --border-radius: 1.2rem;
  // --background: #a8a8a8;
  // --color: white;
  
}

// ion-home{
//  --background : black; tidak ada
// }

.button-1, .button-2, .button-3{
  --border-color: rgb(255, 255, 255);
  --color: rgb(255, 255, 255);
  font-size: 10px;
  padding: 5px;
}

.button-1{
  padding-left: 20px;
}

.button-4, .button-5 ion-icon{
  font-size: 24px;
  color: white;
}

.card{
  width: 100%;
  height: 100%;
  height: max-content;
  background: white;
  position: absolute;
  bottom: 100;
  padding-bottom: 10px;
  border-radius: 3rem 3rem 0 0;
  padding: 1.5rem; 
}

.rec-font{
  font-size: 30px;
}

/* Gaya untuk swiper-container */
.card swiper-container {
  width: 100%;
  height: 15% !important;
  border-radius: 8px;
  margin-bottom: 10px;
}

swiper-slide{
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* Gaya untuk swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.card-2 .rec-front{
  font-size: 30px;
  padding-top: 20px;
  color: black;
}

ion-card{
  --background: rgb(231, 231, 231);
  height: 14rem;
  margin: 0.3rem 0.3rem;
  border-radius: 0.5rem;
  box-shadow: none;
  
  ion-thumbnail {
    width: 100%;
    height: 10rem;
    margin-bottom: 5px;
    ion-img{
      object-fit: cover;
      object-position: center;
    }
  }

  ion-label, p{
    padding:0 5px;
    font-size: 1.15rem;
    ion-text {
      color: black;
    }
  }

  p {
    font-size: 0.95rem;
    margin-top: 8px;
    
    ion-text.rating {
      float:  right;
      ion-icon {
        font-size: 0.8rem;
      }
    }
  }
}